* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right top,#121b23, #1e4661);
    color: white;    
   
}

.container {
    background: #0e1419;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(14,20,25), rgba(14,20,25,0.4));
    border-radius: 3rem;
    backdrop-filter: blur(3rem);
    display: flex;
    margin: 1rem;
}   
#profile-pic{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}

.navbar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(14,20,25), rgba(14,20,25,0.4));
    border-radius: 3rem;
}

.home, .about-me, .projects, .contact-me{
    flex: 2;
}


.navlinks ul li{
    display:flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
}

.navlinks ul li a{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
}

.navlinks a:hover {
    color: #1e4661;
}

.about-me h2 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 2rem;
}

.about-me h3{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 2rem;
}

.about-me p {
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 2rem;
}

.projects h2 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 2rem;
}

.projects a img {
    position: relative;
    height: 10rem;
    width: 10rem;
    flex-direction: row;
    margin: .5rem;
    padding: .5rem;
}

.contact-me h2 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 2rem;
}

.contact-me p {
    position: relative;
    top: 5rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 2rem;
}

.contact-me ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
}

.contact-me ul li a {
    position: relative;
    top: 10rem;
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
}

.contact-me a:hover{
    color: #1e4661;
}