* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: fit-content;
    background: linear-gradient(to right top,#121b23, #1e4661);
    color: white;
    flex: 2;
   
}

.container {
    background: #0e1419;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(14,20,25), rgba(14,20,25,0.4));
    border-radius: 3rem;
    backdrop-filter: blur(3rem);
    display: flex;
    margin: 1rem;
}   
#profile-pic{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}

.navbar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(14,20,25), rgba(14,20,25,0.4));
    border-radius: 3rem;
    width: fit-content;
}

.home h1 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 2rem;
}

.home p{
    position: relative;
    top: 5rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 2rem;

}

.home a{
    display: flex;
    position: relative;
    top: 15rem;
    text-decoration: none;
    justify-content: center;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
}

.home a:hover{
    color: #1e4661;
}

.home, .about-me, .projects, .contact-me{
    flex: 2;
}


.navlinks ul li{
    display:flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
}

.navlinks ul li a{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
}

.navlinks a:hover {
    color: #1e4661;
}

.about-me h2 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 2rem;
}

.about-me h3{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 2rem;
}

.about-me p {
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 2rem;
}

.projects h2 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 2rem;
}

.contact-me h2 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 2rem;
}

.contact-me p {
    position: relative;
    top: 5rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 2rem;
}

.contact-me ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
}

.contact-me ul li a {
    position: relative;
    top: 10rem;
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
}

.contact-me a:hover{
    color: #1e4661;
}

.effect {
    position: relative;
    display: inline-block;
    flex-direction: row;
    width: 15rem;
    height: 10rem;
  }
  

  img {
    display: block;
    width: 100%;
    height: 100%;
    margin: .5rem;
    padding: .5rem;

  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1e4661;
  }
  
  .effect:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


  /* Media Queries */

@media screen and (max-width: 768px) {
    .container {
        width: auto;
    }
    main {
    font: 1rem sans-serif;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1e4661;
        height: 100vh;
        width: fit-content;
    }
    .navlinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .home h1 {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        text-align: center;
        margin: 2rem;
    }
    .home p{
        position: relative;
        top: 5rem;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        text-align: center;
        margin: 2rem;
    
    }
    .home a{
        display: flex;
        position: relative;
        top: 15rem;
        text-decoration: none;
        justify-content: center;
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
    }
    .about-me h2 {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        text-align: center;
        margin: 2rem;
    }
    .about-me h3{
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        text-align: center;
        margin: 2rem;
    }
    .about-me p {
        position: relative;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        text-align: center;
        margin: 2rem;
    }
    .projects h2 {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        text-align: center;
        margin: 2rem;

    }

    .effect {
        position: relative;
        display: inline-block;
        flex-direction: row;
        width: 15rem;
        height: 10rem;
      }
      
    
      img {
        display: block;
        width: 100%;
        height: 100%;
        margin: .5rem;
        padding: .5rem;
    
      }
      
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #1e4661;
      }
      
      .effect:hover .overlay {
        opacity: 1;
      }
      
      .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
    .contact-me h2 {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        text-align: center;
        margin: 2rem;
    }
    .contact-me p {
        position: relative;
        top: 5rem;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        text-align: center;
        margin: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .container {
        width: auto;
    }
    main {
    font-size: 1rem;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1e4661;

    }
    .home {
        height: fit-content;
        width: fit-content;
    }
    .navlinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .home h1 {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        text-align: center;
        margin: 2rem;

    }
    .home p{
        position: relative;
        top: 5rem;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        text-align: center;
        margin: 2rem;
    
    }
    .home a{
        display: flex;
        position: relative;
        top: 15rem;
        text-decoration: none;
        justify-content: center;
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
    }
    .about-me h2 {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        text-align: center;
        margin: 2rem;
    }
    .about-me h3{
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        text-align: center;
        margin: 2rem;
    }
    .about-me p {
        position: relative;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        text-align: center;
        margin: 2rem;
    }
    .projects h2 {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        text-align: center;
        margin: 2rem;
    }
    .contact-me h2 {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        text-align: center;
        margin: 2rem;
    }
    .contact-me p {
        position: relative;
        top: 5rem;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        text-align: center;
        margin: 2rem;
    }


}